.section {
  margin-bottom: 124px;
}

.title {
  margin-bottom: 59px;

  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 40px;
  max-width: var(--container-narrow);
  margin-inline: auto;
}

.item {
  width: 100%;
}
