.section {
  margin-bottom: 123px;
  background: var(--color-white);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-24);

  margin-bottom: var(--space-80);
}

.title {
  font-size: var(--fs-800);
  font-weight: var(--fw-semibold);
  line-height: 51px;
}

.line {
  width: 248px;
  height: 1px;
  background: #bfbfbf;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: var(--space-40);
  max-width: var(--container-main);
  margin-inline: auto;
}

.item {
  width: 100%;
}
