.header {
  background: var(--color-page-bg);
  position: relative;
  z-index: 10;
}

.inner {
  height: 84px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 24px;
}