.section {
  margin-bottom: 93px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1614px;
  padding: 29px 52px;

  background-color: var(--color-page-bg);
  border-radius: 16px;
}

.title {
  max-width: 637px;

  font-size: 42px;
  font-weight: 500;
  color: var(--color-black);
}

.button {
  min-width: 639px;
  padding: 25px 122px;

  font-size: 32px;
  font-weight: 500;
  border: none;
  border-radius: 15px;

  color: var(--color-white);
  background-color: var(--color-button-secondary);

  cursor: pointer;
}
