.navList {
  display: flex;
  justify-content: start;
  gap: 39px;
}

/* .navItem {
  text-decoration: underline;
} */

.link,
.linkActive {
  color: var(--color-text-primary);
  font-size: var(--fs-200);
  position: relative;
  padding: 6px 0;
}

.linkActive::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  height: 2px;
  background: var(--color-text-primary);
}
