.section {
  margin-bottom: 123px;
  background: #fff;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  margin-bottom: 80px;
}

.title {
  font-size: 42px;
  font-weight: 600;
  line-height: 51px;
}

.line {
  width: 248px;
  height: 1px;
  background: #bfbfbf;
}

.list {
  display: flex;
  justify-content: center;
  gap: 100px;
}
