.section {
  margin-bottom: 96px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  padding: 67px clamp(32px, 5vw, 120px);
  border-radius: 53px;

  color: var(--color-white);
  background-color: black;
  background-image: url("../../../../assets/images/newsletterBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin-bottom: -10px;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

.form {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 1200px;
  min-height: 118px;
  padding: 12px;

  background-color: var(--color-white);
  border-radius: 23px;
}

.input {
  flex: 1;
  min-width: 0;
  height: 100%;
  padding: 0 26px;

  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-black);

  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-black);
}

.button {
  flex-shrink: 0;
  width: 100%;
  max-width: 360px;
  padding: 20px 40px;
  border: none;
  border-radius: 14px;

  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.35px;
  color: var(--color-white);
  background-color: var(--color-button-secondary);
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-button-disabled);
}

@media (max-width: 900px) {
  .inner {
    gap: 40px;
    padding-inline: 32px;
  }

  .form {
    flex-direction: column;
    min-height: auto;
  }

  .button {
    max-width: none;
  }
}

